.img-card {
    max-width: 256px;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    padding: 20px;;
}
  
.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.cluster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 30px;
    text-align: center;
    color: white;
}

.impact {
    background-color: rgb(47, 57, 72);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 30px;
    text-align: center;
    color: white;
}

.btn, .btn-outline-success {
    background-color: rgb(227, 71, 71) !important;
    border-color: rgb(227, 71, 71) !important;
    color: white !important;
}

.btn:hover, .btn-outline-success:hover {
    background-color: white !important;
    border-color: rgb(227, 71, 71) !important;
    color: rgb(227, 71, 71) !important;
}

.bg-plain {
    background-color: white;
}

.padding-top {
    padding-top: 55px;
}

.abs-right {
    position: absolute;
    right: 0px;
}

.fixed-left{
    position: fixed;
    left: 0px;
}

.fixed-top {
    position: fixed;
    top: 0px;
}

.white-box {
    background-color: red;
    color: black;
    width: 256px;
    height: 256px;
}

.text-img {
    height: 1em;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.link {
stroke: rgb(47, 57, 72);
}

.node text {
font: 10px sans-serif;
fill: rgb(47, 57, 72);
}

.path text {
font: 15px sans-serif;
fill: #fff;
}

.node circle {
stroke: rgb(0, 0, 0);
stroke-width: 0px;
}

.graph h1 {
color: white;
}
